h1 {
    color: red;
}

h3 {
    margin: 0px;
}

* {
    text-align: center;
}

.all{
    background-color: rgba(9, 6, 177, 0.5) ;
    border: solid;
    border-color: black;
    border-radius: 25px;
}

.test{
    border-radius: 25px;
    margin: auto 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    
}

.button{
    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

button,input{
    width: 150px;
}

.difficulty{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
    margin: top 50px;
    height: 80%;
}

.gif{
    width: 70%;
    height: 100%;
    border-radius: 25px;
}

.selec {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selec_button {
    width: 80px;
    margin: 10px;
}

.fenetre {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 0, 0,0.7);
    border: solid;
    border-radius: 25px;
    border-color: black;
    width: 40%;
    align-items: space-around;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    
}

.difficulty:has(#Facile:hover) .gif {
    background-image: url(/picture/no\ \(facile\).gif);
    background-repeat:no-repeat;
    background-position: center center;

}

.difficulty:has(#Moyen:hover) .gif {
    background-image: url(/picture/Empero\ is\ please\ moyen.gif);
    background-repeat:no-repeat;
    background-position: center center;
}

.difficulty:has(#Difficile:hover) .gif {
    background-image: url(/picture/only\ war\ \(difficile\).gif);
    background-repeat:no-repeat;
    background-position: center center;
}

img {
    border-radius: 25px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}