<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<header>
    <h1>Hangman Web</h1>
</header>
<body>
    <div class="all">
        <div class="test">
            <div class="fenetre">
                <img src="../picture/Black-Templar-Army-2-1.jpg" alt="">
            </div>
        </div>
    </div>
</html>