<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<header>
    <h1>Hangman Web</h1>
</header>
<body>
    <div class="all">
        <div class="test">
            <div class="fenetre">
                <h3>Sélectionner votre difficulté</h3>
                <div class="difficulty">
                    <div class="gif">
                        <img class="change" src="" alt="">
                    </div>
                    <div class="selec">
                        <a href="/hangman?level=facile" class="selec_button" id="Facile">Facile</a>
                       <a href="/hangman?level=moyen" class="selec_button" id="Moyen">Moyen</a>
                       <a href="/hangman?level=difficile" class="selec_button" id="Difficile">Difficile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>